.home-container {
  .bg {
    position: absolute;
    padding-top: 80px;
    top: 0;
    left: 0;
    z-index: 1;
    // background-image: url("../../assets/images/header-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 540px;
    width: 100%;
  }

  .solution {
    background-image: url("../../assets/images/solution-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;

    .value {
      background-repeat: no-repeat;
      background-size: 102% 102%;
      background-position: center center;
      width: 85%;
      height: 21rem;
      border: 1px solid rgb(35, 35, 35);
      border-radius: 1rem;
      display: flex;
      flex-direction: column;
      margin-top: 1rem;


    }


  }

  .benefits {
    background-image: url("../../assets/images/benefits-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;

    .service {
      width: 40%;
      border: 1px solid gray;
      border-radius: 2rem;
      background-color: rgba(37, 37, 37, 0.5);
      backdrop-filter: blur(8px)
    }

   
  }

}